<body class="reminder">
  <section class="main">
    <div class="row">
      <div class="medium-5 columns">
        <div class="bubble">
          <a href="#" data-remote="true" class="right manage-reminders">manage</a>
          <h1>Reminders</h1>
          <ul class="reminder-list">
            <% if @reminders.present? %>
              <% @reminders.each do |reminder| %>
                <li>
                  <%= fa_icon "subway", style:"color:#{reminder.line.color}" %>
                  &nbsp;<%= reminder.line.name %>
                  <%= link_to content_tag(
                     :i,
                     nil,
                     class: 'fa fa-trash-o'
                    ), reminder,
                    method: :delete,
                    style: "color:grey",
                    data: {confirm: "Are you sure?"},
                    class: "hide delete right" %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="content">
            <button data-remote="true" class="button button-new-form">Set a reminder</button>
            <div class="hide newform">
              <h3>Receive a SMS reminder for upcoming constructions</h3>
              <%= form_for [@user, @reminder] do |reminder_f| %>
                <%= fields_for :user, @reminder.user do |user_f| %>
                  <%= user_f.label :name %>
                  <%= user_f.text_field :name, required: true %>

                  <%= user_f.label :phone_number %>
                  <i>Start with country code(+1 for US), no dashes or spaces allowed</i>
                  <%= user_f.phone_field :phone_number, required: true, placeholder: "+1XXXXXXX", pattern: '^\+1\d{3}\d{3}\d{4}$' %>
                <% end %>

                <%= reminder_f.label :line %>
                <%= reminder_f.collection_select :line_id, Line.all, :id, :name, {include_blank: "Select Line"}, {required: true} %>

                <%= reminder_f.submit class: "button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-7 columns">
        <div class="letter">
          <h4>
            <% if @user.name && @user.name != "" %>
              <%= @user.name %>
            <% else %>
              Hello, user!
            <% end %>
          </h4>
          <hr/>
          <%= image_tag "#{current_user.image}", class: "right" %>
          <table>
            <tr>
              <td>Phone number</td>
              <td>
                <% if @user.phone_number && @user.phone_number != "" %>
                  <%= @user.phone_number %>
                <% else %>
                  has not been provided yet.
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <% if @user.email && @user.email != "" %>
                  <%= @user.email %>
                <% else %>
                  has not been provided yet.
                <% end %>
              </td>
            </tr>
          </table>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "right info button" %>
        </div>
      </div>
    </div>
  </section>
</body>
