<section class="main">

<div class="row">
  <div class="small-9 columns">
    <% form_tag constructions_path, method: 'get' do %>
      <div class="row collapse postfix-round search-form">
        <div class="small-8 columns">
          <%= text_field_tag :search, params[:search], placeholder: 'Station name' %>
        </div>
        <div class="small-4 columns">
          <%= submit_tag "Search by Station", name: nil, class: "button postfix" %>
        </div>
      </div>
    <% end %>

    <% @constructions.each do |construction| %>
    <div class="construction">
      <fieldset id="<%= construction.id %>">
        <legend style="color:<%= construction.line.color %>">
          <%= fa_icon "subway" %>
          <%= construction.line.name %>
          <% if signed_in? && current_user == construction.user %>
            <%= link_to "edit", edit_construction_path(construction) %>
            <%= link_to "delete", construction,
              method: :delete,
              style: "color:grey",
              data: {confirm: "Are you sure?"} %>
          <% end %>
        </legend>
        <table>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Starting on</th>
            <th>Ending on</th>
            <th>Starts approximately at</th>
            <th>Ends approximately at</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><%= construction.start_station.name %></td>
            <td><%= construction.end_station.name %></td>
            <td><%= construction.start_date %></td>
            <td><%= construction.end_date %></td>
            <td><%= construction.start_time %></td>
            <td>
              <% if construction.end_time != "" %>
                <%= construction.end_time %>
              <% else %>
                Closing
              <% end %>
            </td>
            <td>
              <% if construction.description != "" %>
                <%= construction.description %>
              <% else %>
                No description provided
              <% end %>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <% end %>
    <%= link_to "Post New Construction Alert", new_construction_path %>
  </div>
  <div class="small-3 columns">
    <div class="side-column">
      <h5>Construction by Line</h2>
      <ul>
        <li style="font-weight:normal">
          <%= link_to "All Lines", constructions_path, style: "color:black" %>
        </li>
        <% Line.all.each do |line| %>
          <li style="background-color:<%= line.color %>">
            <%= link_to line.name, line_constructions_path(line) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</section>
